extends ../layouts/default

block main
  h1= title

block content

  h3.muted Sync to:
  ul
    li
      a(href="/sync/sptrans") SPTrans
    li
      a(href="/sync/osm") OpenStreetMap

  - if (routes.length)
    h3 Routes
    - each route in routes
        
        p 
          a(href='routes/#{route._id}') #{route.ref} - #{route.to}
            
          

  - else
    h4.muted No routes.&nbsp;
      a(href="/routes/new") create one        }
